.floating-button {
  align-items: center;
  background: var(--card-background);
  border-radius: 50%;
  border: 0.125rem solid var(--accent);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  position: fixed;
  transition: all 0.3s ease;
  z-index: 1;

  &:hover {
    box-shadow: 0 0 0.9375rem var(--accent);
    scale: 1.1;
  }

  &:active {
    scale: 0.9;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      box-shadow: none;
      scale: none;
    }

    &:active {
      scale: none;
    }
  }
}
