---
import '../../styles/globals.css'
import Head from '../Head/index.astro'
import Header from '../Header/index.astro'
import Footer from '../Footer/index.astro'
import ThemeToggle from '../ThemeToggle/index.astro'

interface Props {
  title?: string
  description?: string
}

const {
  title = 'Noticias Destacadas | Martín Calderón',
  description = 'Una colección de las noticias que he escrito y publicado en diferentes medios.'
} = Astro.props
---

<!doctype html>
<html lang='es'>
  <Head title={title} description={description} />
  <body>
    <ThemeToggle />
    <Header />
    <main class='container'>
      <slot />
    </main>
    <Footer />
  </body>
</html>
