---
interface Props {
  title?: string
  description?: string
}

const {
  title = 'Portfolio de Noticias',
  description = 'Un portfolio de las noticias que he escrito y publicado en diferentes medios.'
} = Astro.props
---

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width' />
  <meta name='description' content={description} />
  <link href='/favicon.ico' rel='icon' type='image/x-icon' />
  <title>{title}</title>
</head>
