---
import Layout from '../components/Layout/index.astro'
---

<Layout
  title='404 - P치gina no encontrada'
  description='Lo siento, parece que esta p치gina no existe.'
>
  <div class='container'>
    <h1>404 - Page Not Found</h1>
    <p>Lo siento, parece que esta p치gina no existe.</p>
    <a class='animated-underline' href='/'>Volver a la p치gina de inicio</a>
  </div>
</Layout>
