---
import './styles.css'
import { FiX } from 'react-icons/fi'
import Slider from '../Slider/index.astro'

const { images } = Astro.props
---

<div class='viewer'>
  <button class='close-button'>
    <FiX />
  </button>
  <img alt='' class='viewer-image' loading='lazy' src='' />
  <Slider images={images} />
</div>

<script>
  const body = document.querySelector('body') as HTMLElement
  const viewer = document.querySelector('.viewer') as HTMLElement
  const closeButton = document.querySelector('.close-button') as HTMLElement

  const closeViewer = (): void => {
    body.style.overflow = 'auto'
    viewer.style.display = 'none'
  }

  closeButton.addEventListener('click', closeViewer)

  const clickOutside = (event: MouseEvent): void => {
    if (event.target === viewer) {
      closeViewer()
    }
  }

  viewer.addEventListener('click', clickOutside)
</script>
