.viewer {
  align-items: center;
  animation: slideDown 0.5s;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  .close-button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: bold;
    position: absolute;
    right: 1rem;
    top: 1rem;
    transition: 0.3s;

    &:hover,
    &:focus {
      opacity: 0.7;
      scale: 1.1;
    }

    &:active {
      opacity: 0.5;
      scale: 0.9;
    }
  }

  .viewer-image {
    max-height: 75%;
    object-fit: contain;
    width: 95%;
  }

  .slider-wrapper {
    width: 90%;

    .slider-image {
      height: 6.25rem;
      width: 9.375rem;
    }
  }
}
