---
import './styles.css'
---

<div aria-hidden='true' class='reading-progress-bar'></div>

<script>
  let progress = 0

  const updateProgress = () => {
    const scrollTop = window.scrollY
    const docHeight = document.body.scrollHeight - window.innerHeight
    const scrollProgress = (scrollTop / docHeight) * 100

    progress = scrollProgress

    const progressBar = document.querySelector(
      '.reading-progress-bar'
    ) as HTMLElement

    if (progressBar) progressBar.style.width = `${progress}%`
  }

  window.addEventListener('scroll', updateProgress)
</script>
