---
import './styles.css'
---

<header class='header'>
  <div class='container'>
    <nav>
      <a href='/' class='home-link animated-underline'>Portfolio de Noticias</a>
    </nav>
  </div>
</header>
