---
import './styles.css'
---

<header class='header'>
  <div class='container'>
    <nav class='header-nav'>
      <a href='/' class='home-link animated-underline'>Portfolio de Noticias</a>
      <span class='header-text'>
        textos de <span class='author'>Martín Calderón</span>
      </span>
    </nav>
  </div>
</header>
