---
import './styles.css'
---

<footer class='footer'>
  <div class='container'>
    <p>© {new Date().getFullYear()} - Todos los derechos reservados</p>
    <p>
      Desarrollado por
      <a
        class='portfolio-link animated-link'
        href='https://portfolio-martindcalderonp.vercel.app/'
      >
        Martín Calderón
      </a>
    </p>
  </div>
</footer>
