.news-detail {
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem;
  background: var(--card-background);
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);

  .title {
    font-size: 2.5rem;
    color: var(--text);
    margin: 0 0 1.5rem;
  }

  .meta {
    color: var(--text);
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    opacity: 0.7;
  }

  .description {
    color: var(--text);
    font-size: 1.1rem;
    margin: 0 0 1.5rem;
  }

  .central-image-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem;

    .central-image {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      height: auto;
      width: 100%;
    }

    .central-image-caption {
      background-color: var(--caption-background);
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      color: var(--text);
      font-size: 0.8rem;
      opacity: 0.7;
      padding: 0.5rem;
      text-align: center;
    }
  }

  .content {
    line-height: 1.8;
    font-size: 1.1rem;

    p {
      margin-bottom: 1.5rem;
    }
  }
}
