---
import './styles.css'
import { FiSun, FiMoon } from 'react-icons/fi'
---

<button id='theme-toggle' aria-label='Toggle theme'>
  <div class='icon-container'>
    <FiSun className='sun' />
    <FiMoon className='moon' />
  </div>
</button>

<script>
  const theme: string = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme') || 'light'
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark'
    }
    return 'light'
  })()

  if (theme === 'light') {
    document.documentElement.setAttribute('data-theme', 'light')
  } else {
    document.documentElement.setAttribute('data-theme', 'dark')
  }

  window.localStorage.setItem('theme', theme)

  const handleToggleClick = () => {
    const element = document.documentElement
    const button = document.getElementById('theme-toggle')
    const isDark = element.getAttribute('data-theme') === 'dark'
    const newTheme = isDark ? 'light' : 'dark'

    button?.classList.add('rotating')

    setTimeout(() => {
      element.setAttribute('data-theme', newTheme)
      localStorage.setItem('theme', newTheme)
      button?.classList.remove('rotating')
    }, 150)
  }

  document
    .getElementById('theme-toggle')
    ?.addEventListener('click', handleToggleClick)
</script>
