.theme-toggle {
  right: 1rem;
  top: 2rem;

  &.rotating {
    animation: rotate 0.3s ease-in-out;
  }

  .icon-container {
    height: 1.5rem;
    position: relative;
    width: 1.5rem;

    .sun,
    .moon {
      color: var(--text);
      height: 1.5rem;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: all 0.3s ease;
      width: 1.5rem;
    }

    [data-theme='light'] & {
      .sun {
        opacity: 1;
        transform: scale(1) rotate(0);
      }

      .moon {
        opacity: 0;
        transform: scale(0) rotate(-180deg);
      }
    }

    [data-theme='dark'] & {
      .sun {
        opacity: 0;
        transform: scale(0) rotate(180deg);
      }

      .moon {
        opacity: 1;
        transform: scale(1) rotate(0);
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
