---
import './styles.css'
import { Image } from 'astro:assets'
import ProfilePhoto from '../../assets/images/profile-photo.jpg'
import { FiLinkedin, FiMail } from 'react-icons/fi'
import { FaXTwitter } from 'react-icons/fa6'

const socialMediaLinks = [
  {
    Icon: FaXTwitter,
    name: 'X',
    url: 'https://x.com/martomartian'
  },
  {
    Icon: FiLinkedin,
    name: 'LinkedIn',
    url: 'https://www.linkedin.com/in/martincalderon92'
  },
  {
    Icon: FiMail,
    name: 'Correo electrónico',
    url: 'mailto:martincalderon92@outlook.com'
  }
]
---

<section class='about-section'>
  <div class='about-content'>
    <Image
      alt='Foto de perfil'
      class='profile-photo'
      loading='lazy'
      src={ProfilePhoto}
    />
    <div class='text-content'>
      <h2>Sobre mí</h2>
      <p>
        Soy un apasionado escritor y periodista con experiencia en la redacción
        de artículos periodísticos, crónicas y reportajes. Mi trabajo se centra
        en temas de tecnología, cultura, economía, política y sociedad.
      </p>
      <div class='social-media-links'>
        {
          socialMediaLinks.map(({ Icon, name, url }) => (
            <a
              aria-label={name}
              class='social-media-link'
              href={url}
              rel='noreferrer'
              target='_blank'
            >
              <Icon />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</section>
