---
import './styles.css'
import { Image } from 'astro:assets'
import { imageName } from '../../utils'

const { images } = Astro.props
---

<section class='slider-wrapper'>
  <div class='slider'>
    {
      images.map((image: string) => (
        <Image
          alt={imageName(image)}
          class='slider-image'
          inferSize
          loading='lazy'
          src={image}
        />
      ))
    }
  </div>
</section>

<script>
  import { imageName } from '../../utils'

  const sliderImages = document.querySelectorAll(
    '.slider-image'
  ) as NodeListOf<HTMLElement>
  const body = document.querySelector('body') as HTMLElement
  const viewer = document.querySelector('.viewer') as HTMLElement
  const viewerImage = document.querySelector(
    '.viewer-image'
  ) as HTMLImageElement

  const openViewer = (src: string): void => {
    body.style.overflow = 'hidden'
    viewer.style.display = 'flex'
    viewerImage.alt = imageName(src)
    viewerImage.src = src
  }

  sliderImages.forEach((image) => {
    image.addEventListener('click', () => {
      openViewer(image.getAttribute('src') as string)
    })
  })
</script>
