.slider-wrapper {
  margin-top: 2rem;
  position: relative;

  .slider {
    display: flex;
    gap: 1rem;
    overflow: auto hidden;
    scroll-behavior: smooth;

    .slider-image {
      cursor: pointer;
      height: 12.5rem;
      transition: all 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
